.ios, .md {

	page-overslide-list {

		ion-note {
			font-size: 12px;
			align-self: flex-start;
			margin-top: 100em;
		}

		.title {
			font-weight: 500;
		}

		.subtitle {
			font-weight: 200;
			color: black !important;
		}


		ion-icon {
			font-size: 30px;
		}

	}

}
